.texto-menor {
    font-size: 13px;
}

.div-facilidades {
    width: 375px;
}

.verde-limao {
    color: #DAFF01;
}

.botao-lilas {
    background: #9353FF;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}